@page "/";
@inject ArtberryApp.Services.AppService AppService;
@inject NavigationManager NavManager;

<h3>Loading....</h3>

@code {

    protected async override Task OnInitializedAsync()
    {

        bool response = await AppService.CheckSession();

        if (response)
        {
            NavManager.NavigateTo("/red");
        }
        else
        {
            NavManager.NavigateTo("/login");
        }

    }
}