@page "/login"
@using ArtberryApp.Models;
@using Newtonsoft.Json;
@inject ArtberryApp.Services.AppService AppService;
@inject NavigationManager NavManager;

<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Email address</label>
        <input type="email" @bind-value="loginModel.Email" class="form-control" placeholder="Enter email">
        <ValidationMessage For="@(()=> loginModel.Email)" />
    </div>
    <div class="mt-2 form-group">
        <label>Password</label>
        <input type="password" @bind-value="loginModel.Password" class="form-control" placeholder="Password">
        <ValidationMessage For="@(()=> loginModel.Password)" />
    </div>

    <div class="text-center mt-2">
        <button class="btn btn-primary" type="submit">
            <span class="@_spinnerClass" role="status" aria-hidden="true"></span>
            SignIn
        </button>
    </div>
</EditForm>

@code {
    LoginModel loginModel = new LoginModel();

    private string _spinnerClass = "";
    private async void Submit()
    {
        _spinnerClass = "spinner-border spinner-border-sm";

        var response = await AppService.Login(loginModel);
        if (response != null && !string.IsNullOrEmpty(response.Id))
        { 
            await SecureStorage.SetAsync("session", response.Id);
            Setting.Session = response.Id;
            NavManager.NavigateTo("/music");
        }
        else
        {
            await App.Current.MainPage.DisplayAlert("Oops", "Invalid username or password", "OK");
        }

        _spinnerClass = "";
        this.StateHasChanged();
    }

}