@page "/music"

<h3>Artberry music</h3>

<select @onchange="PlayFile">
    <option value="https://stream.artberry.eu:444">Red</option>
    <option value="https://stream.artberry.eu:443">White</option>
</select>

<audio src="@_currentRadio" controls></audio>

@code {

    private string _currentRadio = "https://stream.artberry.eu:444";

    private void PlayFile(ChangeEventArgs e)
    {
        var radio = e.Value.ToString();

        _currentRadio = radio;
    }
}