@using ArtberryApp.Models;
@inject ArtberryApp.Services.AppService AppService;
@inject NavigationManager NavManager;

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">ArtberryApp</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="red" Match="NavLinkMatch.All">
				<span class="oi oi-musical-note" aria-hidden="true"></span> Red
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="white" Match="NavLinkMatch.All">
				<span class="oi oi-musical-note" aria-hidden="true"></span> White
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="user">
				<span class="oi oi-person" aria-hidden="true"></span> User
			</NavLink>
		</div>
		
		<div class="nav-item px-3" @onclick="SignOut">
			<NavLink class="nav-link" href="logout">
				<span class="oi oi-account-logout" aria-hidden="true"></span> Exit
			</NavLink>
		</div>

		<div class="nav-item px-4">
			<a href="https://ashy-pebble-0a5a86103.2.azurestaticapps.net" target="_blank" style="margin-left:10%">Our Site</a>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}


	private async void SignOut()
	{

		await AppService.Logout();
		
		SecureStorage.RemoveAll();
		Setting.Session = null;
		NavManager.NavigateTo("/login");
	}
}
